img {
  width: 600px;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: 0 100%;
}

.container-fluid, body, html {
  height: 100%;
  /*background-color: #fffef5;*/
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  img {
    width: 100%;
  }
}

.cute {
  font-family: 'playlistscript';
  color: #26362a;
  font-size: 6.5em;
}
