html {
    height: 100%;
}

body {
    font-size: 18px;
    margin: 0;
    height: 100%;
    font-family: 'glacial_indifferenceregular';
    margin: 0 auto;
}

.hero-body {
    background-image: url('/img/hero.jpg');
    background-size: cover;
    background-position-y: 80%;
}

strong {
    font-family: 'glacial_indifferencebold';
}

header {
    width: 100%;
    padding: 1em;
    background-color: white;
    margin: 0 auto 2em;
}

header .home-link {
    font-family: 'glacial_indifferencebold';
}

header .right {
    float: right;
}

header a {
    color: #333;
    text-decoration: none;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em;
}

header a:hover {
  text-decoration: none;
  background-color: #333;
  color: white;
}

header a:visited, a:active, a:focus {
  text-decoration: none;
}

header span {
    display: inline-block;
    border-right: 1px solid #333;
    height: 1.2em;
    vertical-align: top;
}

header .selected {
    font-family: 'glacial_indifferencebold';
    font-weight: bold;
}

section {
    padding: 1.5em;
    max-width: 1024px;
    margin: 0 auto;
}

section a:link,
section a:hover,
section a:active,
section a:focus,
section a:visited {
  text-decoration: none;
  color: #daae78;
  font-family: 'glacial_indifferencebold';
  font-weight: bold;
  /* border-bottom: 1px dashed #daae78; */
}

section a span:hover {
  text-decoration: none;
  font-family: 'glacial_indifferencebold';
  font-weight: bold;
  color: #333
}

section a span:visited, span:active, span:focus {
  text-decoration: none;
  color: #333
}

section h1 {
  font-family: 'playlistscript';
  font-size: 4em;
  margin: 0 0 0.75em 0;
  text-align: center;
}

section .main {
  font-size: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section .rsvp {
  letter-spacing: 0.15em;
}

section p {
  text-align: justify;
}

h1 {
    color: #333;
}

p {
    color: #333;
    line-height: 1.6;
}

footer {
    padding: 1em;
}

.feather {
    vertical-align: middle;
    height: 1.2em;
}

.cute {
  font-family: 'playlistscript';
  color: #26362a;
  font-size: 6.5em;
}

.info {
    color: #888;
}




/* RSVP UI */

.rsvp-content {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.rsvp-content p {
    text-align: center;
}

.rsvp-content input {
    font-family: 'glacial_indifferenceregular';
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}

.rsvp-content .review-name {
    font-family: 'glacial_indifferenceregular';
    padding: 0 0.5em;
    margin-left: -0.5em;
}

.rsvp-content textarea {
    font-family: 'glacial_indifferenceregular';
    padding: 0.5em 1em;
    width: 100%;
    border: 1px solid #ddd;
}

.rsvp-content button {
    /* background-color: #ddd; */
    font-family: 'glacial_indifferenceregular';
    padding: 0.5em 1em;
}

.rsvp-content .review-table {
    margin: 1em auto;
}

.rsvp-content .review-table td,
.rsvp-content .review-table th {
    padding-right: 2em;
}

.rsvp-content .review-table .review-name {
    margin: 0;
    text-align: left;
}







.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(51,51,51);
  background: -moz-linear-gradient(top, rgba(51,51,51,0) 0%, rgb(51,51,51) 8%, rgb(51,51,51) 92%, rgba(51,51,51,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(51,51,51,0) 0%, rgb(51,51,51) 8%, rgb(51,51,51) 92%, rgba(51,51,51,0) 100%);
  background: -o-linear-gradient(top, rgba(51,51,51,0) 0%, rgb(51,51,51) 8%, rgb(51,51,51) 92%, rgba(51,51,51,0) 100%);
  background: -ms-linear-gradient(top, rgba(51,51,51,0) 0%, rgb(51,51,51) 8%, rgb(51,51,51) 92%, rgba(51,51,51,0) 100%);
  background: linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgb(51,51,51) 8%, rgb(51,51,51) 92%, rgba(51,51,51,0) 100%);

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: white;
  /* background: rgb(248,248,248); */
  padding: 6px 10px;
  border-radius: 5px;

  font-family: 'glacial_indifferencebold';
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  /* -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15); */
  /* -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15); */
  /* box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15); */
}

.direction-r .flag {
  /* -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15); */
  /* -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15); */
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15); */
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #333;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  /* border-left-color: rgb(248,248,248); */
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  /* border-right-color: rgb(248,248,248); */
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  /* color: rgb(250,80,80); */
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  /* background: rgb(248,248,248); */
}

.desc {
  margin: 1em 0.75em 0 0;

  /* font-size: 0.77777em; */
  /* font-style: italic; */
  /* line-height: 1.5em; */
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	/* background: rgb(255,255,255); */
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	/* border: 4px solid rgb(255,80,80); */
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	/* border-bottom-color: rgb(255,255,255); */
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	/* padding: 1em; */
  padding: 0;
  background: white;
	/* background: rgb(245,245,245); */
	/* -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20); */
	/* -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20); */
	/* box-shadow: 0 0 1px rgba(0,0,0,0.20); */

  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	/* padding: 1em; */

  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}














.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke: #daae78;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

button {
  cursor: pointer;
}


.navbar-header {
    position: relative;

}

header .right,
header .text-center {
    display: block;
}

.hamburger {
    padding: 0.5em !important;
    display: none !important;
    position: absolute;
    top: 0.25em;
    right: 0;
    margin-top: -15px !important;
}

.hamburger:focus {
    outline: none;
}

.hamburger-box {
    width: 30px !important;
}

.hamburger-inner {
    width: 30px !important;
}

.hamburger-inner::before {
    width: 30px !important;
}

.hamburger-inner::after {
    width: 30px !important;
}

.hamburger .hamburger-box {
    border: none;
}

@media screen and (max-width: 700px) {
    .hamburger {
        display: block !important;
    }

    header > *,
    header .right > *,
    header .text-center > * {
        display: block;
        width: 100%;
        text-align: center;
    }
    header .right {
        float: none;
    }
    header {
        padding-bottom: 0;
        margin-bottom: 1em;
    }
    header .selected {
        color: white;
        background-color: #333;
    }

    header .right,
    header .text-center {
        display: none;
    }

    .navbar-header {
        text-align: left;
    }

    section .main {
        font-size: 5.5em;
    }

}

.rsvp-content button {
  background-color: #333;
  color: white;
  border: 1px solid #333;
  min-width: 15%;
}

.rsvp-content .thanks a {
  color: white;
  font-family: 'glacial_indifferenceregular';
}

.rsvp-content .submit-button {
  min-width: 35%;
}

.rsvp-content .review-table {
  margin-top: 0;
  margin-bottom: 2em;
}

.rsvp-content .review-dietary {
  margin-bottom: 2em;
}

.ask-email input {
  min-width: 50%;
}

input, textarea {
  border-radius: 0;
}

@media screen and (max-width: 450px) {
  .ask-email input {
    display: block;
    width: 100%;
  }
  .ask-email button {
    display: block;
    width: 100%;
    margin-top: 0.5em;
  }
  .rsvp-content .submit-button {
    width: 100%;
  }
  .thanks button {
    width: 100%;
  }
}
